  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif&family=Playfair+Display:ital@1&family=Roboto+Mono&family=Special+Elite&family=Zilla+Slab&display=swap');

  html {
    font-family: Noto Serif, serif;
    font-size: 10px;
    font-weight: 150;
    color: black;
    background: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NjUwODQ3LWltYWdlLWpvYjYzMC1hXzIuanBn.jpg);
  }

  body {
    font-size: 1.6rem;
    margin: 0 auto;
    width: 70vw;
    text-align: center;
  }

  @media (max-width: 768px) {
    body {
      width: 100vw;
    }
  }

  @media (min-width: 1200px) {
    body {
      max-width: 700px;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    font-family: Noto Sans JP, sans-serif;
    font-size: 4rem;
    color: black;
  }

  .subtitle {
    font-family: Noto Sans JP, sans-serif;
    font-size: 2rem;
    color: black;
  }

  h2 {
    font-family: Noto Sans JP, sans-serif;
    font-size: 2.8rem;
    margin: 50px 0 25px 0;
    text-align: center;
  }

  h3 {
    font-family: Noto Sans JP, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 40px 0 5px 0;
    color: black;
  }

  section {
    text-align: left;
  }

  #image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 25px;
  }

  #img-caption {
    font-family: Noto Sans JP, sans-serif;
    margin-top: 20px;
  }


  blockquote {
    font-family: Special Elite, sans-serif;
    font-size: 2.25rem;
    background-color: ghostwhite;
    margin: 30px 3% 0 3%;
    padding: 10px 0% 20px 0%;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    background: url(https://i.pinimg.com/originals/10/f9/44/10f944389ace361ae00a3fc6b7b16e9e.jpg)
  }

  cite {
    font-family: Noto Sans JP, sans-serif;
    font-size: 1.6rem;
  }


  .source-image {
    width: 200px;
    height: 100px;
    border-radius: 15px;
    background-color: white;
    margin: 0 10px 50px 10px;
  }

  .lift-animation {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.322);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-bottom: 30px;
  }

  .lift-animation::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.322);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .lift-animation:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.377);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
  }

  .lift-animation:hover::after {
    opacity: 1;
  }